@charset "UTF-8";
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    80%{
      transform: rotate(1800deg);  
    }
    100%{
        transform: rotate(2520deg);
    }
}
@keyframes vanish{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
*{
    margin: 0%;
}
a{
    color: white;
    text-decoration: none;
}
#loading{
    height: 100vh;
    width: 100%;
    background-image: url(./images/doublehand.jpg);
    background-color: #f9f9f96c;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: color;
    position: fixed;
    z-index: 9999999;
    align-items: center;
    text-align: center;
    animation: vanish 1s 4s forwards;
}
#loading h1{
    width: 10%;
    position: absolute;
    top: 30%;
    left: 45%;
}
#rotateline{
    position: absolute;
    width: 80% ;
    top: -8%;
    left: 9%;
    animation: rotate 3s 2;
}


body{
    font-family: 'Noto Sans TC',Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #151414;
}
.left{
    position: fixed;
    display: flex;
    width: 20%;
    z-index: 9999;
    box-shadow: -1px 0 10px -2px #8b8585;
}
header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(images/nav_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -  20px;
    /* background-color: #151414; */
    display: inline-block;
    text-align: center;
    top: 0%;
    left: 0%;
}
img{
    width: 100%;
}
.logo{
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.logo h1{
    margin: 0 auto;
}
header .logo img{
    width: 50%;
    height: auto;
    margin: 10% auto;
    padding: 0 10px;
}
header .left_main_nav{
    font-size: 1.3rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
header .left_main_nav ul{
    list-style: none;
    line-height: 3rem;
    padding: 0;
    margin: 5% auto;
}
header .left_main_nav ul li{
    list-style: none;
}
.left_main_nav a,footer a{
    color: #ffffff;
    text-decoration:none;
}
.switch li:hover{
    border-image: url(images/nav_underline.png);
}
.left_main_nav a:hover,footer a:hover{
    color: #ffbf00;
}
.drop_down_menu{
    position: absolute;
    width: 100%;
    left: 1000%;
    z-index: 99999; 
    /* display: none; */
    opacity: 0;
    transition: opacity 0.3s;
}
.drop_down_menu li{
    border-bottom: solid 2px #6B6A6A;
    box-sizing: border-box;
    width: 100%;
    margin: 1% auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.drop_down_menu li a{
    display: flex;
    align-items:center;
    width: 100%;
}
.drop_target:hover .drop_down_menu{
    /* display: block; */
    left: 100%;
    top: 37%;
    opacity: 1;
    transition: opacity 0.6s;
}
.underline{
    width: 30%;
    margin-right: 5%;
}
footer{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 2%;
}
footer nav{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
footer nav ul{
    list-style: none;
    padding: 0;
    margin: 5% auto;
}
footer small{
    color:#dddddd;
    font-size: .6rem;
}
.right{
    position: relative;
    right: 0%;
    top: 0%;
    height: 100vh;
    width: auto;
    overflow: hidden;
    z-index: 9990;
}
main{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
    height: 100%;
    width: 80%;
}
.content{
    height: 100vh;
    background-color: #404040;
}
.right .content a img{
    mix-blend-mode: multiply;
}

#img2,#img3,#img4,#img5{
    display: none;
}

.title{
    position: absolute;
    bottom: 10%;
    left: 15%;
}
.title h2{
    font-size: 3.5rem;
    letter-spacing: .2em;
    color: azure;
}
.title h3{
    font-size: 2rem;
    color: azure;
}
.switch{
    position: absolute;
    width: auto;
    bottom: 5%;
    right: 50%;
    z-index: 9998;
}
.switch ul{
    list-style: none;
    padding: 0%;
}
.social_connect ul{
    display: flex;
    list-style: none;
    padding: 0%;
}


.switch_dot{
    display: inline-block;
    margin: 0 8px;
}
.social_connect ul li a img{
    width: 100%;
    margin: 2%;
}

.switch_dot a{
    background:url(./images/switch_dot.png) no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    width: 12px;
    height: 12px;
}
.switch_dot a:hover{
    background:url(./images/switch_dot_hover.png) no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
}

.social_connect{
    position: absolute;
    width: 10%;
    right: 3%;
    bottom: 3%;
    z-index: 9999;
}
.social_connect ul li{
    display: inline-block;
    margin: 10px;
}

/* page title */
#page_main{
    width: 80%;
    height: auto;
    padding-bottom:10% ;
    padding-left: 20%;
    overflow: hidden;
}
.page_title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: auto;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, .7);
    background-size: cover;
    background-position: center -40vh;
    background-blend-mode: multiply;
    background-repeat: no-repeat; 
}
.shop_page_title_background{
    background-image:url(images/title_img.jpg);

}
.about_us_page_title_background{
    background-image:url(images/about_title.jpg);
    background-position: 0 -74vh;
}
.page_title_h1{
    font-family: 'Noto Sans TC',sans-serif;
    font-size: 2rem;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}
/* page title end */


/* shop section */
#shop_no1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    height: 70vh;
}

#shop_no1 #no1_product{
    width: 100%;
    height: 100%;
    display: inline-block;
}

#shop_no1 nav{
    position: absolute;
    width: auto;
    right: 18%;
    bottom: 16%;
    border: 2px solid ;
    border-radius: 10px;
    padding: 2% 10%;
    background-color: #ffbf007f;
    box-shadow: 4px 4px 4px #ffbf007f;
    font-size: 1.2rem;
}
#shop_no1 nav a{
    display: inline-block;
    width: 100%;
}
@keyframes no1_product_hover{
    0%{
        background-color: #ffbf007f;
        box-shadow: 5px 5px 6px #ffbf007f;
    }
    100%{
        background-color: #ffbf00;
        box-shadow: 0 0 0 ;
    }
}
#shop_no1 nav:hover{
    animation:no1_product_hover .6s 1 forwards;
}

.normal_product_title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.normal_product_title_h1{
    text-align: center;
    font-family: 'Noto Sans TC',sans-serif;
    font-size: 1.6rem;
    width: auto;
    margin: 6% auto 1%;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}
#normal_product{
    display: flex;
    justify-content: space-around;
}
#normal_product>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 50%;
    height: auto;
    margin: 5% auto;
}
#normal_product>div>div{
    display: inline-block;
}
.normal_product_img{
    width: 45%;
    height: auto;
}
.normal_product_img img{
    width: 100%;
    border-radius: 10px;
}

#permanent{
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
}
#permanent nav{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows:40vh;
    grid-gap: 5%;
    margin: 5%;
    border-radius: 10px;
}
#permanent nav a{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
#permanent nav a article{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    padding-right:5% ;
    padding-top: 27%;
    animation: permanent_normal .5s forwards;
}
.no2_product_position{
    top: 24vh;
}
#permanent nav a article h3{
    color: #86888A;
    font-size: 1rem;
    margin-top: 5%;
    margin-left: 35%;
    line-height: 1.5rem;
}
@keyframes permanent_hover {
    100%{
        background-color: #000000BD;
        top: 0;
    }
}
@keyframes permanent_normal {
    0%{        
        background-color: #000000BD;
        top: 0;
    }
    100%{
        top: 24vh;
    }
}
@keyframes permanent_img_hover{
    100%{
        width: 120%;
    }
}
@keyframes permanent_img_normal{
    0%{
        width: 120%;
    }
    100%{
        width: 100%;
    }
}
#permanent nav a:hover article{
    animation: permanent_hover .5s forwards;
}
#permanent nav a img{
    animation:permanent_img_normal 1s forwards;
}
#permanent nav a:hover img{
    animation:permanent_img_hover 1s forwards;
}

.product_nav{
    padding: 5% 0;
    height: auto;
    list-style-type: none;
}
.product_nav li{
    margin: 20px 30px;
}
.product_nav li a{
    color: #c68700;
    text-decoration: none;
    margin: 20px 30px;
    font-family: 'Noto Sans TC',sans-serif;
    border-bottom:2px solid #c68700;
}
.product_introduction{
    margin: 20px;
}

#important{
    width: 100%;
    display: flex;
    justify-items: flex-start;
}
#important figure{
    width: 40%;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5%;
}
#important figure img{
    width: 100%;
    border-radius: 10px;
}
#important article{
    display: inline-block;
    width: 60%;
    box-sizing: border-box;
    padding: 5% 5% 0 0;
}
#important article h2,#important article h3,#important article h4,#important article div{
    width: 100%;
}
#important article h2{
    font-size: 2rem;
    margin: 5% 0;
}
#important article div{
    margin: 5% 0;
}
#important article div *,#introduct *{
    margin: 2% 0;
}
#important article div h3{
    color: #86888A;
}
#important article div h4{
    font-size: 1rem;
}
#introduct{
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
}
#introduct h2{
    color:#86888A;
}
#product nav{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin-top:4% ;
}
#product nav a{
    display: inline-block;
    width: 20%;
    background-color:#ffffff ;
    border-radius: 10px;
}
#product nav a div{
    margin: 2% auto;
    width: 100%;
    padding: 2%;
    color: #000;
    text-align: center;
    box-sizing: border-box;
}
/* @keyframes no1_product_hover{
    0%{
        background-color: #ffbf007f;
        box-shadow: 5px 5px 6px #ffbf007f;
    }
    100%{
        background-color: #ffbf00;
        box-shadow: 0 0 0 ;
    }
} */
#product nav a:hover{
    animation:no1_product_hover .6s 1 forwards;
}
/* shop section end */


/* about_us section */
.philosophy{
    width: 100%;
    height: 50vh;
    padding: 10%;
    background: url(./images/philosophy.jpg);
    background-color: rgba(0, 0, 0, .7);
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat; 
}
.philosophy h2{
    margin: 10px;
    font-size: xx-large;
}
.philosophy article.text{
    margin: 5% 10% 10%;
}
.philosophy article.text p{
    font-size: x-large;
    margin: 5% 0;
}



.ground{
    position: relative;
    width: 100%;
    height: 60vh;
    padding: 10%;
    background:url(./images/ground.png),linear-gradient(90deg,#15141400 20%,#151414 100%),linear-gradient(180deg,#15141400 75%,#151414 100%);
    background-size: 40%;
    background-blend-mode: darken;
    background-position: 0 85%;
    background-repeat: no-repeat; 
}
.ground>h2{
    position: absolute;
    left: 20%;
    top: 45%;
    font-size: 2rem;
}
.ground .p1{
    position: absolute;
    right: 35%;
    top: 24%;
    font-size: 1.2rem;
}
.ground .p2{
    position: absolute;
    bottom: 14%;
    left: 20%;
    font-size: 1.2rem;
}

.min_sup_img{
    position: absolute;
    padding: 5%;
    color: black;
    transform: rotate(45deg);
    right: 20%;
    bottom: -6%;
}
.about_us_grid{
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
    grid-gap: 20px;
}
.ground .col{
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: white;
    overflow: hidden;
}
.ground_blender{
    background: linear-gradient(135deg,#15141400 35%,#151414 99%);;
}
.ground .col img{
    transform: rotate(-45deg);
    mix-blend-mode:multiply
}
.ground .col .img1{
    width: 215px;
}
.ground .col .img2{
    position: absolute;
    width: 215px;
    top: -29%;
    right: -39%;
}
.ground_blender_img3{
    background: linear-gradient(135deg,#15141400 35%,#151414 99%);
}
.ground .col .img3{
    position: absolute;
    width: 211px;
    right: -37%;
    top: 21%;
    mix-blend-mode: multiply;
}
.ground .col .img4{
    width: 211px;
}
/* about_us section end */


/* team section */
.team_page_title_background{
    background-image:url(images/meeting.jpg);
    background-position: 0px -23vh;
}
.team{
    padding: 10%;
    width: 80%;
    grid-gap: 10px;
}
.team_grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.team_photo{
    width: 100%;
}
.team_photo figure{
    display:flex;
    flex-direction: column;
}
.team_photo figure img{
    width: 70%;
    margin: auto;
}
.team_photo figure figcaption{
    width: 80%;
    margin: 10% auto 0 ;
    line-height: 1.5rem;
}
.history{
    box-sizing: border-box;
    width: 100%;
    padding: 10%;
}
.history>article{
    font-size: 1.2rem;
    line-height: 2rem;
}
.history_list{
    margin-top: 10%;
}
.history_list article{
    margin: 10px 0;
}
.history_list article figure{
    display: flex;
}
.history_list article figure img{
    width: 20%;
    height: 20px;
    margin: 8px 10px 0;
}
.history_list figcaption{
    line-height: 1.5rem;
}
/* team section end */

/* news_page_title_background */
.news_page_title_background{
    background-image:url(images/newspaper.jpg);
    background-position: 0px -38vh;
}
.news_list{
    width: 80%;
    padding: 5% 10%;
}
.news_list a{
    display: block;
    margin: 0 auto 4%;
}
.news_list a figure{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 8%;
    width: 100%;
    padding:3% 5%;
    box-sizing: border-box;
    background-color: rgb(255,255,255,.2);
    border-radius: 10px;
}
.news_list a figure .img_class{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.news_list a figure .img_class #img1{
    width: 120%;
}
.news_list a figure figcaption{
    padding: 5%;
    overflow: hidden;
}
.news_list a figure figcaption div{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;

}
.news_list a figure figcaption div h2{
    font-size: 1.5rem;
}
.news_list a figure figcaption .brief_information{
    margin: 2% 2% 0 5%;}

/* news_page_title_background end */

/* news_article page */
#back_botton{
    width: 5%;
    position: fixed;
    display: inline-block;
    left: 25%;
    top: 5%
}
.news_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 10%;
}
.news_article h2{
    font-size: 3rem;
}
.news_article small{
    font-size: 1rem;
    color: rgb(255,255,255,.5);
}
.news_article figure{
    width: 60%;
    overflow: hidden;
}
.news_article *{
    margin: 1% auto;
}
.news_article figcaption{
    line-height: 1.8rem;
    text-indent:2rem;
    font-size: 1.2rem;
    color: rgb(255,255,255,.8);
    margin-top: 3%;
}
/*  */

/* notes page section */
.notes_page_title_background{
    background-image: url("./images/note.jpg");
    background-position: 0 -47vh;
}
.notes_list{
    width: 80%;
    padding: 5% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px;
    grid-gap: 10%;
    position: relative;
}
.notes_list a{
    display: block;
    width: auto;
    height: 300px;
}
.notes_list .news_list_botton{
    position: relative;
    padding: 10px;
}
.notes_list .news_list_botton .text{
    position: absolute;
    width: 80%;
    top: 10px;
    left: 10px;
    background-color: #6B6A6Ac8;
    box-sizing: border-box;
    z-index: 99998;
    padding: 10% 15% 30%;
    font-size: 1.2rem;
    line-height: 1.8rem;
    border-radius: 10px;
}
.notes_list .news_list_botton .text u{
    text-decoration: 1 solid;
    color: #FFCC00;
}
.notes_list .news_list_botton .text u:hover{
    text-decoration: 1 solid;
    color: white;
}
.notes_list .news_list_botton figure{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    box-sizing: border-box;
    z-index: 99999;
    right: -4%;
    top: 30vh;
    overflow: hidden;
    border-radius: 10px;
}
.notes_list .news_list_botton figure img{
    width: 120%;
}
.notes_decoration{
    display: block;
    width: 55%;
    height: 35vh;
    position: absolute;
    z-index: 99998;
    top: 11vh;
    left: 9vh;
}
.notes_decoration_1,.notes_decoration_2,.notes_decoration_3,.notes_decoration_4{
    font-size: 1rem;
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: 11%;
}
.notes_1{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-gap: 10%;
    padding: 20% 10% 10%;
}
.notes_1 .notes_1_text{
    background-color: #6B6A6Ac8;
    padding: 10% 15% 15%;
    border-radius: 10px;
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.notes_1 .notes_1_text p{
    text-indent: 2rem;
}
/* news_article sectiom end */

/* contact page section */
.contact_page_title_background{
    background-image: url("./images/phone.jpg");
    background-position: 0 -25vh;
}
.contact_media{
    display: grid;
    width: 80%;
    grid-template-columns:1.2fr 1fr;
    grid-gap: 5%    ;
    padding: 5%;
}
.contact_media #map{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c68700;
    border-radius:10px;
    border: 4px solid white;
    overflow: hidden;
    box-shadow: 0 0 25px #6B6A6A;
}
.contact_media #map iframe{
    width: 100%;
    border-radius:10px;
}

.contact_media #contact_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact_media #contact_form h2{
    margin: 1% 10% 3%;
}
.contact_media #contact_form label{
    display: block;
    width: 100%;
    margin: 2% 0;
}
.contact_media #contact_form input{
    display: block;
    width: 100%;
    height: 1.5rem;
    border-radius: 4px;
    margin: 1% 0;
}
.contact_media #contact_form #message{
    height: 4.5rem;
}
.contact_media #contact_form #sub_button{
    width: 20%;
    /* padding: 10%; */
    height: 6%;
    margin-left: 82%;
    box-sizing: border-box;
}
.contact_media #contact_form #sub_button:hover{
    border: 3px solid #c68700;
}
.contact_media #contact_form #contact_social_media{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.contact_media #contact_form #contact_social_media a{
    margin: 0% 2%;
    width: 14%;
    display: block;
}
.contact_media #contact_form #contact_social_media figure{
    width: 100%;
    margin: auto;
    border-radius: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
}
@keyframes fb_lighton{
    0%{
        background:rgb(66,103,178);
        opacity: .2;
    }
    100%{
        background:rgb(66,103,178);
    }
}
.contact_media #contact_form #contact_social_media a #fb:hover{
    mix-blend-mode: multiply;
    animation: fb_lighton 1s 1;
    animation-fill-mode:forwards;
}
@keyframes ig_lighton{
    0%{
        background:linear-gradient(20deg,rgb(255,220,128),rgb(247,119,55),rgb(193, 53 ,132),rgb(5, 10, 230),rgb(5, 10, 230));
        opacity: .2;
    }
    100%{
        background:linear-gradient(20deg,rgb(255,220,128),rgb(247,119,55),rgb(193, 53 ,132),rgb(5, 10, 230),rgb(5, 10, 230));
    }
}
.contact_media #contact_form #contact_social_media a #ig:hover{
    mix-blend-mode: multiply;
    animation: ig_lighton 1s 1 ease;
    animation-fill-mode:forwards;
}